$dark-green: #0c1d0d;
$light-green: #7fba43;
$main-green: #3a893e;
$white: #ffffff;
$grey: #505050;
$smoky-green: #f2f9f2;

$background-card: $smoky-green;
$background-section: $white;
$background-color: $dark-green;


$max-width-xxl: 1320px;
$animation-link: all .3s ease-out;

//line-height
%lh-1_5 {
    line-height: 1.5;
}


//transition
%transition {
    transition: $animation-link;
}

//hover-link-button
%hover-link-button {
    color: $main-green;
}

//active-link-button
%active-link-button {
    color: $light-green;
}

//flex betwwen
@mixin flex-space-between{
    display: flex;
    justify-content: space-between;
}

//navigation hover 
@mixin hover-nav {

}

//placeholder
@mixin placeholder {
    color: $grey;
    font-size: .875rem;
}

// общие свойства блоков
@mixin site-block {
    background: $white;
    border-radius: .5rem;
    padding: 1.5rem 0;
    margin: 1rem auto;
    max-width: 1320px;
}

@mixin title-site-block {
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
}
//Путь справа от заголовка
@mixin link-more {
    font-weight: 300;
    font-size: 14px;
    line-height: 120%;
    color: #505050;
    &:hover {
        color: $light-green;
    }
}

//Свойства кнопки
@mixin bottom {
    background: #3a893e;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    color: $white;
    padding: 5px 20px;
    height: 40px;
    text-transform: uppercase;
    cursor: pointer;
}

// Карточки популятные товары светлые
@mixin category-card {
    width: 196px;
    height: 150px;
    background: #f2f9f2;
    border-radius: 4px;
    flex-grow: 0;
    cursor: pointer;
}

// Карточки товаров каталога
@mixin product-cards {
    width: 196px;
    max-height: 296px;
    background: $white;
    border: 1px solid #e0eee0;
    border-radius: 4px;
    order: 3;
    flex-grow: 0;
    cursor: pointer;
}

//Карточки товаров молочного цвета
//Популярные категории
@mixin category-card-home {
    @include m-lr-3;
    width: 196px;
    height: 230px;
    background: $background-card;
    border-radius: 4px;
    &:hover {
        box-shadow: 0px 5px 10px 0px rgba(12, 29, 13, 0.25);
        }
}
//Популярные товары
@mixin popular-products {
    max-width: 196px;
    max-height: 246px;
    padding: 16px;
    background: linear-gradient(235.17deg, $white 1.94%, #f2f9f2 100.89%);
    border-radius: 4px;
    flex: none;
    order: 0;
    flex-grow: 0;
    cursor: pointer;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: $dark-green;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    &:hover {
        box-shadow: 0px 5px 10px 0px rgba(12, 29, 13, 0.25);
        }
}

@mixin product-price {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    color: $dark-green;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

// Оформление ссылок футера
@mixin footer-title {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: $white;
    flex: none;
    order: 0;
    flex-grow: 0;
    cursor: pointer;
}
