.footer {
    padding: 44px 40px 90px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #ffffff;
    flex: none;
    order: 0;
    flex-grow: 0;
    min-width: 420px;
}

.footer_info {
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 100%;
}
.img {
    cursor: pointer;
}
.footer_columns {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 25px;
}
.footer_column {
    min-width: 195px;
}
.title {
    @include footer-title;
    line-height: 19px;
    margin-bottom: 16px;
    text-transform: uppercase;
}
.title_info {
    @include footer-title;
    margin-top: 16px;
}

.red-line {
    border-top: 2px solid $main-green;
    max-width: 100%;
    margin: 8px 0;
}
.footer-protection {
    display: flex;
    justify-content: space-between;
}
.website-address {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 120%;
    color: #ffffff;
    flex: none;
    order: 0;
    flex-grow: 0;
    cursor: pointer;
}
