@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300&family=Rubik:wght@300;400;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

footer,
header,
aside {
  display: block;
}

html,
body {
  font-size: 16px;
  -ms-text-size-adjust: auto;
  -moz-text-size-adjust: auto;
  -webkit-text-size-adjust: auto;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

h4, h3 {
  line-height: 1.5;
}

.header .header-navigation > button, .header a, nav ul a, header .contacts .cart {
  transition: all 0.3s ease-out;
}

.header a:hover, nav ul a:hover {
  color: #3a893e;
}

.header a:active, nav ul a:active {
  color: #7fba43;
}

header {
  font-weight: 300;
  max-width: 1320px;
  margin: 40px auto 0;
}
header .contacts {
  display: flex;
  justify-content: end;
  align-items: center;
  max-width: 500px;
}
header .contacts .cart {
  display: grid;
  width: 24px;
  height: 24px;
  background-color: #0c1d0d;
  -webkit-mask-image: url("assets/img/nav/cart-icon.svg");
  mask-image: url("assets/img/nav/cart-icon.svg");
}
header .contacts .cart:hover {
  background-color: #3a893e;
}
header .contacts .cart:active {
  background-color: #7fba43;
}

nav {
  padding: 0 0.375rem;
}
nav ul {
  display: flex;
  align-content: center;
  background: #0c1d0d;
}
nav ul li {
  padding: 0.625rem;
  margin: 0 0.5rem;
  background: #0c1d0d;
  color: #ffffff;
}
.header {
  background: #ffffff;
  border-radius: 0 0 8px 8px;
  padding: 0.5rem 0.75rem 1rem;
}
.header .phone {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
}
.header .adress {
  font-size: 14px;
  max-width: 210px;
  margin: 0 50px;
  line-height: 1.2;
}
.header .header-navigation {
  display: flex;
  align-items: center;
}
.header .header-navigation .search {
  border: #0c1d0d solid 1px;
  border-radius: 4px;
  width: 638px;
  height: 40px;
}
.header .header-navigation .search form {
  padding: 0 0.5rem;
  border: none;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header-navigation .search input {
  width: 100%;
  height: inherit;
}
.header .header-navigation .search button {
  display: grid;
  width: 25px;
  height: 24px;
  background-color: #3a893e;
  -webkit-mask-image: url("assets/img/nav/search-icon.svg");
  mask-image: url("assets/img/nav/search-icon.svg");
  transition: all 0.3s ease-out;
  padding: 0;
  align-content: center;
}
.header .header-navigation .search button:hover {
  background-color: #505050;
}
.header .header-navigation > button {
  background: #3a893e;
  display: flex;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  padding: 0.5rem;
  height: 40px;
  text-transform: uppercase;
}
.header .header-navigation > button:hover {
  box-shadow: 0 5px 10px 0 rgba(12, 29, 13, 0.25);
}
.header .header-navigation > button:active {
  background-color: #7fba43;
}
.header .header-navigation .navigation::before {
  content: url("assets/img/nav/nav-icon.svg");
  margin-right: 10px;
}
.header .header-navigation .actions {
  margin: 0 1.25rem;
  padding: 1rem;
}

.header-info {
  display: flex;
  justify-content: space-between;
  min-height: 74px;
  padding-right: 1.375rem;
}

section {
  background: #ffffff;
  border-radius: 0.5rem;
  padding: 1.5rem 0;
  margin: 1rem auto;
  max-width: 1320px;
}

h3 {
  font-weight: 700;
  font-size: 24px;
}

h4 {
  font-weight: 600;
  font-size: 18px;
}

.banner-home {
  min-height: 394px;
  display: flex;
  justify-content: space-between;
  padding: 0 0.75rem 1.5rem;
}

.product_categories {
  background-color: #3a893e;
  margin: 0 5px 0 0;
  height: 350px;
  border-radius: 0.5rem;
  flex-grow: 0;
}
.product_categories ul {
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product_categories li {
  display: flex;
  align-items: center;
  max-width: 196px;
  padding: 0.5rem 0.625rem;
  color: #ffffff;
  cursor: pointer;
}
.product_categories li:hover {
  background-color: #7fba43;
}
.product_categories li::before {
  width: 24px;
  margin-right: 0.5rem;
}
.product_categories li:nth-child(1)::before {
  content: url("assets/img/home/product_categories/garden1.svg");
}
.product_categories li:nth-child(2)::before {
  content: url("assets/img/home/product_categories/snow2.svg");
}
.product_categories li:nth-child(3)::before {
  content: url("assets/img/home/product_categories/power3.svg");
}
.product_categories li:nth-child(4)::before {
  content: url("assets/img/home/product_categories/construction4.svg");
}
.product_categories li:nth-child(5)::before {
  content: url("assets/img/home/product_categories/water-supply5.svg");
}
.product_categories li:nth-child(6)::before {
  content: url("assets/img/home/product_categories/attachments6.svg");
}
.product_categories li:nth-child(7)::before {
  content: url("assets/img/home/product_categories/outboard-motors7.svg");
}

.banner {
  position: relative;
}
.banner .banner-box {
  position: relative;
  max-width: 100%;
  min-width: 100%;
  height: 350px;
}
.banner img {
  min-height: 350px;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right;
     object-position: right;
  border-radius: 8px;
}

.header_discount {
  position: absolute;
  z-index: 100;
  top: 88px;
  left: 23px;
}
.header_discount .discount_title {
  font-weight: 700;
  font-size: 32px;
  color: #ffffff;
  font-style: normal;
  letter-spacing: 0.02em;
}
.header_discount .discount_subtitle {
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  margin: 22px 0 130px;
}
.header_discount .discount_bottom-box {
  color: #3a893e;
}
.header_discount .discount_bottom {
  background: #3a893e;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  padding: 5px 20px;
  height: 40px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 8px 56px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.link-more {
  font-weight: 300;
  font-size: 14px;
  line-height: 120%;
  color: #505050;
}
.link-more:hover {
  color: #7fba43;
}

.title-section {
  display: flex;
  justify-content: space-between;
  margin: 0 0.75rem;
  align-items: center;
  width: 420px;
}

.content {
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
  margin-top: 0.75rem;
}
.content .category-card {
  display: flex;
  justify-content: space-between;
  margin: 0 0.75rem;
  width: 196px;
  height: 230px;
  background: #f2f9f2;
  border-radius: 4px;
  flex-direction: column;
  padding: 1rem 0 0 1rem;
}
.content .category-card:hover {
  box-shadow: 0px 5px 10px 0px rgba(12, 29, 13, 0.25);
}
.content img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left top;
     object-position: left top;
  margin-top: 2.125rem;
}

.title-section {
  display: flex;
  justify-content: space-between;
  margin: 0 0.75rem;
  align-items: center;
  width: 420px;
}

.link-more {
  font-weight: 300;
  font-size: 14px;
  line-height: 120%;
  color: #505050;
}
.link-more:hover {
  color: #7fba43;
}

.popular_products {
  padding: 1.5em 12px 24px;
}

.popular_products-containers {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin: 16px 0 0;
  gap: 24px;
}
.popular_products-containers .category_card {
  max-width: 196px;
  max-height: 246px;
  padding: 16px;
  background: linear-gradient(235.17deg, #ffffff 1.94%, #f2f9f2 100.89%);
  border-radius: 4px;
  flex: none;
  order: 0;
  flex-grow: 0;
  cursor: pointer;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #0c1d0d;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.popular_products-containers .category_card:hover {
  box-shadow: 0px 5px 10px 0px rgba(12, 29, 13, 0.25);
}
.popular_products-containers .popular_products-img {
  width: 120px;
  height: 117px;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  margin: 0px 0 8px 16px;
  cursor: pointer;
}
.popular_products-containers .products_card-description {
  max-height: 75px;
  max-width: 164px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.products_card-price {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  color: #0c1d0d;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.title-site {
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
}

.link-more {
  font-weight: 300;
  font-size: 14px;
  line-height: 120%;
  color: #505050;
}
.link-more:hover {
  color: #7fba43;
}

.title-section {
  display: flex;
  justify-content: space-between;
  margin: 0 0.75rem;
  align-items: center;
  width: 420px;
}

.brands_we_work {
  padding: 24px 12px 36px;
  min-height: 157.94px;
}

.brands_we_work-container {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  flex-wrap: wrap;
  margin-top: 28px;
}

.popular_products-img1 {
  display: flex;
  color: #7fba43;
}
.popular_products-img1:hover {
  filter: url(#colorise);
}

.certificates {
  padding: 24px 12px;
}

.certificates-container-box {
  display: flex;
  margin-top: 16px;
  align-items: start;
}

.certificates-container {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  max-width: 90%;
  margin-right: 24px;
}

.certificates-img {
  cursor: pointer;
}

.link-more-ma {
  display: none;
}

.certificates {
  min-height: 176px;
}

.certificates-subtite {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: #0c1d0d;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.contact_form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 16px;
  gap: 24px;
}

.contact_form-contan {
  position: relative;
}

.contact_form-error {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 40px;
  max-width: 100%;
  /* display: none; */
  top: 56px;
  background-color: #3a893e;
  border-radius: 8px;
  width: 100%;
  transform: uppercase;
  color: #ffffff;
}

.contact_form-field {
  width: 100%;
  height: 100%;
  border-bottom: #0c1d0d;
  font-style: normal;
  font-weight: 400;
  border-bottom: 1px solid #0c1d0d;
}
.contact_form-field::-moz-placeholder {
  font-size: 16px;
  line-height: 150%;
  align-items: center;
  color: #0c1d0d;
}
.contact_form-field::placeholder {
  font-size: 16px;
  line-height: 150%;
  align-items: center;
  color: #0c1d0d;
}
.contact_form-field:focus {
  border-bottom: #0c1d0d;
  font-size: 16px;
  line-height: 150%;
  border-bottom: 1px solid #0c1d0d;
}

.contact_form-botton {
  background: #3a893e;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  padding: 5px 20px;
  height: 40px;
  text-transform: uppercase;
  cursor: pointer;
  max-width: 416px;
  height: 51px;
}
.contact_form-botton:hover {
  background-color: #7fba43;
}

.catrgory_menu {
  display: none;
  width: Fixed 196px;
  height: Hug 639px;
  padding: 24px, 0px, 24px, 0px;
  gap: 9px;
  float: left;
}

.option3 {
  width: Fill 196px;
  height: Hug 72px;
  padding: 0px, 0px, 0px, 16px;
  gap: 8px;
}

.option2 {
  width: Fill 196px;
  height: Hug 48px;
  padding: 0px, 0px, 0px, 16px;
  gap: 8px;
}

.option1 {
  width: Fill 196px;
  height: Hug 24px;
  padding: 0px, 0px, 0px, 16px;
  gap: 8px;
}

.home {
  width: Hug 1, 320px;
  height: Hug 1, 57px;
  padding: 0px, 12px, 0px, 12px;
  border-radius: 8px;
  gap: 24px;
}

.home_imp {
  width: Hug 1, 76px;
  height: Hug 1, 57px;
  padding: 24px, 0px, 24px, 0px;
  gap: 16px;
  float: right;
  background-color: #0c1d0d;
}

.pop_text {
  width: 397px;
  height: 36px;
  padding: 0px, 241px, 0px, 0px;
  gap: 8px;
}

.brands_text {
  width: Hug 63px;
  height: Hug 32px;
  padding: 4px, 8px, 4px, 8px;
  border-radius: 16px;
  gap: 10px;
  background: rgb(224, 238, 224);
}

.brands {
  width: Hug 397px;
  height: Hug 32px;
  gap: 8px;
  display: inline-flex;
}

.footer {
  padding: 44px 40px 90px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
  min-width: 420px;
}

.footer_info {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 100%;
}

.img {
  cursor: pointer;
}

.footer_columns {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  gap: 25px;
}

.footer_column {
  min-width: 195px;
}

.title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
  cursor: pointer;
  line-height: 19px;
  margin-bottom: 16px;
  text-transform: uppercase;
}

.title_info {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
  cursor: pointer;
  margin-top: 16px;
}

.red-line {
  border-top: 2px solid #3a893e;
  max-width: 100%;
  margin: 8px 0;
}

.footer-protection {
  display: flex;
  justify-content: space-between;
}

.website-address {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 120%;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
  cursor: pointer;
}

/*

// PAGES
@import 'pages/home';
*/
.body {
  background-color: #0c1d0d;
  font-family: "Rubik";
}

::-webkit-input-placeholder {
  color: #505050;
  font-size: 0.875rem;
}

::-moz-placeholder {
  color: #505050;
  font-size: 0.875rem;
}

:-moz-placeholder {
  color: #505050;
  font-size: 0.875rem;
}

:-ms-input-placeholder {
  color: #505050;
  font-size: 0.875rem;
}/*# sourceMappingURL=main.css.map */